.chat-box {
  width: 95vw;
  height: 35vh;
  background: url('../img/utils/message-box.png') no-repeat center center/contain;
  position: absolute;
  bottom: 2vh;
  left: 2.5vw;
  text-align: center;
  font-size: 1.8rem;
  text-align: center;
}



.chat-box>p {

  margin: 4rem;
}