.map {
    outline: none;
    position: relative;
    transition: all 0.35s;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 85vh;
}

.world i{
    position: absolute;
    top: 12px;
    left: 49%;
}

.volume-icon {
    left: calc(49% - 30px) !important;
}

.question-mark {
    left: calc(49% - 55px) !important;
}